<head class="site-head">
  <div class="container" style="text-align:center">
    <div class="navbar" style="margin-bottom:0;border:0">
    <P class="navbar-nav" style="font-family: Arial;word-spacing: 10px">
    	<a href="{{ site.baseurl }}/index.html" class="button nav-button">HOME</a> 
        <a href="{{ site.baseurl }}/blog.html" class="button nav-button">BLOG</a>
        <a href="{{ site.baseurl }}/shop.html" class="button nav-button">SHOP</a>
    </P>
    </div>
  </div>
  <br />
  <p id="YS" style="text-align:center;font-family:arial;letter-spacing:5px;font-size:25px">Y&S</p>

</head>
